In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('./imputation_20.csv')

In [3]:
df['SDATE'] = pd.to_datetime(df['SDATE'])

# sort by date
df = df.sort_values(by='SDATE')
df.to_csv('imputation_20.csv', index=False)

In [4]:
df

,MC,STATID,SDATE,Y,M,D,TEMP_Â°C,pH,TSS_mg_L,COND_mS_m,...,Na_meq_L,K_meq_L,ALK_meq_L,Cl_meq_L,SO4_meq_L,NO32_mg_L,NH4N_mg_L,TOTP_mg_L,DO_mg_L,CODMN_mg_L
0,Thailand,H310102,1985-07-15,1985,7,15,29.6,7.100,104.000,7.300,...,0.320,0.050,0.460,0.260,0.030,0.071,0.065,0.037,6.61,3.400
1,Thailand,H310102,1985-09-16,1985,9,16,28.5,6.900,43.000,6.800,...,0.310,0.030,0.340,0.300,0.100,0.224,0.028,0.006,6.64,2.100
2,Thailand,H050104,1985-10-15,1985,10,15,26.0,7.700,70.000,9.800,...,0.260,0.080,0.840,0.080,0.030,0.250,0.020,0.041,7.00,0.300
3,Thailand,H310102,1985-10-16,1985,10,16,28.0,7.240,40.000,14.500,...,0.800,0.060,0.530,0.680,0.120,0.292,0.075,0.007,6.80,0.700
4,Thailand,H310102,1985-11-12,1985,11,12,27.6,7.490,8.000,15.100,...,0.770,0.040,0.480,0.780,0.030,0.308,0.043,0.020,7.52,2.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4320,Thailand,H310102,2020-11-16,2020,11,16,30.0,6.450,3.167,11.230,...,0.512,0.032,0.445,0.479,0.216,0.086,0.079,0.041,5.89,4.773
4324,Thailand,H310102,2020-12-14,2020,12,14,27.0,7.110,8.167,12.500,...,0.595,0.035,0.522,0.573,0.195,0.034,0.042,0.026,7.38,4.077
4325,Thailand,H013801,2020-12-14,2020,12,14,25.0,7.985,8.917,24.910,...,0.321,0.049,1.627,0.433,0.372,0.209,0.030,0.024,8.27,1.094
4323,Thailand,H050104,2020-12-14,2020,12,14,22.0,7.555,21.417,12.235,...,0.270,0.065,1.165,0.013,0.183,0.149,0.055,0.076,8.62,1.790
4326,Thailand,H013101,2020-12-14,2020,12,14,25.0,7.760,30.000,23.700,...,0.352,0.030,1.687,0.196,0.447,0.243,0.054,0.040,7.92,1.591

In [5]:
df.columns

Index(['MC', 'STATID', 'SDATE', 'Y', 'M', 'D', 'TEMP_Â°C', 'pH', 'TSS_mg_L',
       'COND_mS_m', 'Ca_meq_L', 'Mg_meq_L', 'Na_meq_L', 'K_meq_L', 'ALK_meq_L',
       'Cl_meq_L', 'SO4_meq_L', 'NO32_mg_L', 'NH4N_mg_L', 'TOTP_mg_L',
       'DO_mg_L', 'CODMN_mg_L'],
      dtype='object')